{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <h2>Buy Stock</h2>

    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Stock Symbol</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" id="symbol" placeholder="Enter stock symbol" type="text" required>
        </div>

        <div class="mb-3">
            <label for="shares" class="form-label">Number of Shares</label>
            <input class="form-control mx-auto w-auto" name="shares" id="shares" placeholder="Enter number of shares" type="number" required min="1">
        </div>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
