{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Your Portfolio</h2>

    <h4>Cash: ${{ cash }}</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock_data %}
                <tr>
                    <td>{{ symbol }}</td>
                    <td>{{ shares }}</td>
                    <td>{{ orice }}</td>
                    <td>{{ total_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Grand Total: ${{ grand_total }}</h4>
{% endblock %}
